



  body {
    
    font-family: 'Archivo Black', sans-serif;
    height: 100%;
    background-image: url(../img/bg.gif);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;


  }
  .glitch-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .glitch {
    color: white;
    font-size: 13vh;
    text-transform: upercase;
    position: relative;
    display: inline-block;
  }
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }
  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 yellow;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }
  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 red;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
  }
  @-webkit-keyframes glitch-anim {
    0% {
      clip: rect(99px, 9999px, 6px, 0);
    }
    4.166666666666666% {
      clip: rect(59px, 9999px, 62px, 0);
    }
    8.333333333333332% {
      clip: rect(128px, 9999px, 80px, 0);
    }
    12.5% {
      clip: rect(20px, 9999px, 98px, 0);
    }
    16.666666666666664% {
      clip: rect(86px, 9999px, 64px, 0);
    }
    20.833333333333336% {
      clip: rect(132px, 9999px, 135px, 0);
    }
    25% {
      clip: rect(144px, 9999px, 136px, 0);
    }
    29.166666666666668% {
      clip: rect(8px, 9999px, 127px, 0);
    }
    33.33333333333333% {
      clip: rect(14px, 9999px, 14px, 0);
    }
    37.5% {
      clip: rect(7px, 9999px, 13px, 0);
    }
    41.66666666666667% {
      clip: rect(31px, 9999px, 34px, 0);
    }
    45.83333333333333% {
      clip: rect(100px, 9999px, 35px, 0);
    }
    50% {
      clip: rect(125px, 9999px, 74px, 0);
    }
    54.166666666666664% {
      clip: rect(135px, 9999px, 142px, 0);
    }
    58.333333333333336% {
      clip: rect(121px, 9999px, 47px, 0);
    }
    62.5% {
      clip: rect(105px, 9999px, 115px, 0);
    }
    66.66666666666666% {
      clip: rect(4px, 9999px, 34px, 0);
    }
    70.83333333333334% {
      clip: rect(100px, 9999px, 1px, 0);
    }
    75% {
      clip: rect(130px, 9999px, 98px, 0);
    }
    79.16666666666666% {
      clip: rect(80px, 9999px, 53px, 0);
    }
    83.33333333333334% {
      clip: rect(96px, 9999px, 69px, 0);
    }
    87.5% {
      clip: rect(91px, 9999px, 26px, 0);
    }
    91.66666666666666% {
      clip: rect(110px, 9999px, 104px, 0);
    }
    95.83333333333334% {
      clip: rect(14px, 9999px, 110px, 0);
    }
    100% {
      clip: rect(76px, 9999px, 3px, 0);
    }
  }
  @keyframes glitch-anim {
    0% {
      clip: rect(99px, 9999px, 6px, 0);
    }
    4.166666666666666% {
      clip: rect(59px, 9999px, 62px, 0);
    }
    8.333333333333332% {
      clip: rect(128px, 9999px, 80px, 0);
    }
    12.5% {
      clip: rect(20px, 9999px, 98px, 0);
    }
    16.666666666666664% {
      clip: rect(86px, 9999px, 64px, 0);
    }
    20.833333333333336% {
      clip: rect(132px, 9999px, 135px, 0);
    }
    25% {
      clip: rect(144px, 9999px, 136px, 0);
    }
    29.166666666666668% {
      clip: rect(8px, 9999px, 127px, 0);
    }
    33.33333333333333% {
      clip: rect(14px, 9999px, 14px, 0);
    }
    37.5% {
      clip: rect(7px, 9999px, 13px, 0);
    }
    41.66666666666667% {
      clip: rect(31px, 9999px, 34px, 0);
    }
    45.83333333333333% {
      clip: rect(100px, 9999px, 35px, 0);
    }
    50% {
      clip: rect(125px, 9999px, 74px, 0);
    }
    54.166666666666664% {
      clip: rect(135px, 9999px, 142px, 0);
    }
    58.333333333333336% {
      clip: rect(121px, 9999px, 47px, 0);
    }
    62.5% {
      clip: rect(105px, 9999px, 115px, 0);
    }
    66.66666666666666% {
      clip: rect(4px, 9999px, 34px, 0);
    }
    70.83333333333334% {
      clip: rect(100px, 9999px, 1px, 0);
    }
    75% {
      clip: rect(130px, 9999px, 98px, 0);
    }
    79.16666666666666% {
      clip: rect(80px, 9999px, 53px, 0);
    }
    83.33333333333334% {
      clip: rect(96px, 9999px, 69px, 0);
    }
    87.5% {
      clip: rect(91px, 9999px, 26px, 0);
    }
    91.66666666666666% {
      clip: rect(110px, 9999px, 104px, 0);
    }
    95.83333333333334% {
      clip: rect(14px, 9999px, 110px, 0);
    }
    100% {
      clip: rect(76px, 9999px, 3px, 0);
    }
  }
  @-webkit-keyframes glitch-anim-2 {
    6.666666666666667% {
      clip: rect(1px, 9999px, 90px, 0);
    }
    10% {
      clip: rect(51px, 9999px, 5px, 0);
    }
    13.333333333333334% {
      clip: rect(132px, 9999px, 4px, 0);
    }
    16.666666666666664% {
      clip: rect(33px, 9999px, 39px, 0);
    }
    20% {
      clip: rect(133px, 9999px, 8px, 0);
    }
    23.333333333333332% {
      clip: rect(82px, 9999px, 107px, 0);
    }
    26.666666666666668% {
      clip: rect(63px, 9999px, 34px, 0);
    }
    30% {
      clip: rect(132px, 9999px, 89px, 0);
    }
    33.33333333333333% {
      clip: rect(137px, 9999px, 50px, 0);
    }
    36.666666666666664% {
      clip: rect(91px, 9999px, 128px, 0);
    }
    40% {
      clip: rect(53px, 9999px, 66px, 0);
    }
    43.333333333333336% {
      clip: rect(47px, 9999px, 127px, 0);
    }
    46.666666666666664% {
      clip: rect(28px, 9999px, 26px, 0);
    }
    50% {
      clip: rect(27px, 9999px, 13px, 0);
    }
    53.333333333333336% {
      clip: rect(38px, 9999px, 130px, 0);
    }
    56.666666666666664% {
      clip: rect(9px, 9999px, 126px, 0);
    }
    60% {
      clip: rect(40px, 9999px, 113px, 0);
    }
    63.33333333333333% {
      clip: rect(124px, 9999px, 138px, 0);
    }
    66.66666666666666% {
      clip: rect(22px, 9999px, 29px, 0);
    }
    70% {
      clip: rect(62px, 9999px, 121px, 0);
    }
    73.33333333333333% {
      clip: rect(139px, 9999px, 139px, 0);
    }
    76.66666666666667% {
      clip: rect(29px, 9999px, 41px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 94px, 0);
    }
    83.33333333333334% {
      clip: rect(92px, 9999px, 14px, 0);
    }
    86.66666666666667% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    90% {
      clip: rect(69px, 9999px, 65px, 0);
    }
    93.33333333333333% {
      clip: rect(46px, 9999px, 140px, 0);
    }
    96.66666666666667% {
      clip: rect(122px, 9999px, 4px, 0);
    }
    100% {
      clip: rect(58px, 9999px, 80px, 0);
    }
  }
  @keyframes glitch-anim-2 {
    6.666666666666667% {
      clip: rect(1px, 9999px, 90px, 0);
    }
    10% {
      clip: rect(51px, 9999px, 5px, 0);
    }
    13.333333333333334% {
      clip: rect(132px, 9999px, 4px, 0);
    }
    16.666666666666664% {
      clip: rect(33px, 9999px, 39px, 0);
    }
    20% {
      clip: rect(133px, 9999px, 8px, 0);
    }
    23.333333333333332% {
      clip: rect(82px, 9999px, 107px, 0);
    }
    26.666666666666668% {
      clip: rect(63px, 9999px, 34px, 0);
    }
    30% {
      clip: rect(132px, 9999px, 89px, 0);
    }
    33.33333333333333% {
      clip: rect(137px, 9999px, 50px, 0);
    }
    36.666666666666664% {
      clip: rect(91px, 9999px, 128px, 0);
    }
    40% {
      clip: rect(53px, 9999px, 66px, 0);
    }
    43.333333333333336% {
      clip: rect(47px, 9999px, 127px, 0);
    }
    46.666666666666664% {
      clip: rect(28px, 9999px, 26px, 0);
    }
    50% {
      clip: rect(27px, 9999px, 13px, 0);
    }
    53.333333333333336% {
      clip: rect(38px, 9999px, 130px, 0);
    }
    56.666666666666664% {
      clip: rect(9px, 9999px, 126px, 0);
    }
    60% {
      clip: rect(40px, 9999px, 113px, 0);
    }
    63.33333333333333% {
      clip: rect(124px, 9999px, 138px, 0);
    }
    66.66666666666666% {
      clip: rect(22px, 9999px, 29px, 0);
    }
    70% {
      clip: rect(62px, 9999px, 121px, 0);
    }
    73.33333333333333% {
      clip: rect(139px, 9999px, 139px, 0);
    }
    76.66666666666667% {
      clip: rect(29px, 9999px, 41px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 94px, 0);
    }
    83.33333333333334% {
      clip: rect(92px, 9999px, 14px, 0);
    }
    86.66666666666667% {
      clip: rect(58px, 9999px, 37px, 0);
    }
    90% {
      clip: rect(69px, 9999px, 65px, 0);
    }
    93.33333333333333% {
      clip: rect(46px, 9999px, 140px, 0);
    }
    96.66666666666667% {
      clip: rect(122px, 9999px, 4px, 0);
    }
    100% {
      clip: rect(58px, 9999px, 80px, 0);
    }
  }
  


  .wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position:fixed;
}



@media only screen and (min-width:300px){
    .container {
        width: 300px;
        margin: 0 auto;
    }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.face{
  max-width: 150%;
  height: auto;
  
}

.fades-in {

  -webkit-animation: fadein 7s; 
     -moz-animation: fadein 7s; 
      -ms-animation: fadein 7s; 
       -o-animation: fadein 7s; 
          animation: fadein 7s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#canvas-holder{
  display: none;
}
#Graphic{
  display: none;
}

#MSG{
  display: none;
}

.fades-in2 {

  -webkit-animation: fadein 4s; 
     -moz-animation: fadein 4s; 
      -ms-animation: fadein 4s; 
       -o-animation: fadein 4s; 
          animation: fadein 4s;
}

@keyframes fadein2 {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-moz-keyframes fadein2 {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-webkit-keyframes fadein2 {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-ms-keyframes fadein2 {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-o-keyframes fadein2 {
  from { opacity: 0; }
  to   { opacity: 1; }
}